<div class="loader loading-overlay" *ngIf="isLoading == true" ></div>
<mat-toolbar *ngIf="isToolbarEnabled">
    <div class="logo"(click)="landing()">
        <img src="../../../assets/images/logo.png"  alt="">
    </div>

    <div class="pages-container flex gap-05">
        <div class="pages flex center-center gap-05" *ngFor="let item of menuItems">
            <h4 [routerLink]="item.route" (click)="item.label === 'Logout' ? logout() : animation()">{{item.label}}</h4>
           </div>
    </div>
 </mat-toolbar>
