mat-card{
    width: 300px;
    padding: 5px;
    background-color: #181818;
    color: white;
    overflow: hidden;
}

.main-containerr{
    width: 350px;
    background-color: #181818;
    padding: 10px;
    overflow: hidden;
}

.icon{
    border-radius: 50%;
}

h1{
    color: orange;
}

.comments{
    background-color: rgb(34, 108, 108);
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

span{
    padding: 5px;
    font-size: medium;
}