mat-card{
    background-color: rgba(236, 234, 234, 0.643);
    box-shadow: 3px 3px darkgray;
}

.pie{

    width: 650px !important;
    height: 350px !important;
}

canvas{
    width: 900px !important;
}
