.container {
  overflow: hidden;
}

body {
  font-family: sans-serif;
}

.content {
  width: 90%;
  height: 55%;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid gray;
  box-shadow: 2px 2px grey;
  animation-name: slideLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

.content:hover {

  color: orange;
}

.content:hover h3 {
  color: orange;
  transform: scale(1.1); /* Increase size on hover */
}

//flex
.flex {
  display: flex;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.spacebetween {
  justify-content: space-between;
}

.text-align {
  text-align: center;
}

//card
mat-card{
  background-color: rgba(236, 234, 234, 0.643);
}

//gap
.gap-1 {
  gap: 1em;
}

.gap-05 {
  gap: .5em;
}

//animation
@keyframes slideLeft {
  from {
    transform: translateX(300%)
  }
}