<mat-nav-list>
    <a mat-list-item (click)="openLink('https://docs.google.com/document/u/0/')">
      <span matListItemTitle>Check Tasks</span>
    </a>
  
    <a  mat-list-item (click)="openLink('https://docs.google.com/')">
      <span matListItemTitle>Google Docs</span>
    </a>
  
    <a  mat-list-item (click)="openLink('https://plus.google.com/')">
      <span matListItemTitle>Google Plus</span>
      <span matLine>Share with your friends</span>
    </a>
  
    <a  mat-list-item (click)="openLink('https://hangouts.google.com/')">
      <span matListItemTitle>Google Hangouts</span>
      <span matLine>Show to your coworkers</span>
    </a>
  </mat-nav-list>
  