.main-container {
    height: 100vh;
    // overflow-y: scroll;
}

.toolbar-container {
    height: 14%;
}

//image
img {
    height: 100%;
    width: 20%;
}

.logo {
    height: 100%;
    width: 100%;
}

//content
.content{
height: 86%;
}

//width
.width-80{
    width: 80%;
}

//spacebetween
.spacebetween{
    justify-content: space-between;
    align-items: center;
}

//buttons
.addBtn{
    background-color: orange !important;
}

//actions
.delete{
    background-color: lightgrey;
    color: white;
}

.delete:hover{
    background-color: orange;
}

.view{
    background-color: lightgrey;
    color: white;
}

.view:hover{
    background-color: orange;
}

.make-customer{
    background-color: lightgrey;
    color: white;
}

.make-customer:hover{
    background-color: orange;
}

//h3
h4{
    margin: 0;
    color: #000000;
    width: 20%;
    height: 20%;
}

//icons
img{
    width: 100% !important;
    height: 100% !important;
}

//actions
.actions{
display: flex;
justify-content: space-between;
align-items: center;
}

//table
.table {
    margin-top: 3em;
    min-width: none !important;
      width: 100%;
      border: 3px solid orange;
      border-radius: 7px;
    }
  
    span {
      width: 10%;
    }
    
    .mat-mdc-form-field {
      font-size: 14px;
    }
   
     tr th {
        background-color: rgba(236, 234, 234, 0.643);
    }
  