<div class="main-container">
    <div class="toolbar-container">
    <app-toolbar></app-toolbar>
    </div>

    <div class="content-container flex center-center">
        <div class="inner width-90 flex center-center gap-1">
            <div class="cards gap-1">
                <div>
                    <app-content-cards></app-content-cards>
                </div>
                <div class="charts">
                    <app-bar></app-bar>
                </div>
            </div>
        </div>
    </div>
</div>
